<!-- Comments -->
<div class="ms-5 mt-2">
    <h5>Comments:</h5>
    <div class="card mt-2">
        <div class="card-header">
            <h6 class="card-subtitle mb-2 pt-1 text-muted">Author: Jane Doe | Created: 2023-06-11</h6>
        </div>
        <div class="card-body">
            <p class="card-text">This is a comment.</p>
        </div>
    </div>
    <div class="card mt-2">
        <div class="card-header">
            <h6 class="card-subtitle mb-2 pt-1 text-muted">Author: Sam Smith | Created: 2023-06-11</h6>
        </div>
        <div class="card-body">
            <p class="card-text">This is another comment.</p>
        </div>
    </div>
</div>