<!-- Homepage {{body}} template -->

<!-- Show all blog posts -->
<div class="container mt-2">
    {{#if hasPosts}}
    {{#each blogPosts as |post|}}

    {{> blog-post post}}

    {{/each}}
    {{else}}
    <div class="alert alert-info">
        <h2>No posts yet. Start the conversation!</h2>
        {{#if loggedIn}}
        <a href="/api/blogs/new" class="button">Create a post</a>
        {{else}}
        <a href="/login" class="button">Log in to create a post</a>
        {{/if}}
    </div>
    {{/if}}
</div>

<!-- Homepage javascript -->
<script src="/assets/js/homepage.js"></script>