<!-- Comment Form -->

<!-- Show Blog post at top -->
<div class="container mt-2">
    {{#each blogPost as |blogPost|}}
    {{> blog-post blogPost}}
    {{/each}}
</div>
<div class="container mt-2">
    <div class="card">
        <div class="card-header bg-warning-subtle">
            <h5 class="card-title text-dark ms-2 mt-2">Add a Comment</h5>
        </div>
        <div class="card-body">
            <form id="new-comment-form">
                <div class="form-group mt-0">
                    <label class="mt-0" for="comment">Type your Comment for this Post here:</label>
                    <textarea class="form-control" id="comment" rows="3" name="comment"></textarea>
                </div>
                <button type="submit" id="submit-button" data-blog-id="{{blogPostId}}" data-user-id="{{userId}}"
                    class="btn btn-secondary btn-sm mt-1">Post Comment</button>
                <button type="button" id="cancel-button" class="btn btn-outline-secondary btn-sm mt-1">Cancel</button>
            </form>
        </div>
    </div>
</div>

<script src="/assets/js/new-comment.js"></script>