<!-- New Blog Post Form -->
<div class="container mt-2">
    <div class="card">
        <div class="card-header bg-success-subtle">
            <h3 class="card-title text-dark ms-2">New Blog Post</h3>
        </div>
        <div class="card-body">
            <form id="new-blog-post-form">
                <div class="form-group">
                    <label for="title">Title</label>
                    <input type="text" class="form-control" id="title" name="title">
                </div>
                <div class="form-group">
                    <label for="content">Content</label>
                    <textarea class="form-control" id="content" rows="5" name="content"></textarea>
                </div>
                <button type="submit" class="btn btn-success mt-1">Save</button>
                <button type="button" id="cancel-button" class="btn btn-outline-success btn mt-1">Cancel</button>
            </form>
        </div>
    </div>
</div>

<!-- new post script -->
<script src="/assets/js/new-post.js"></script>